[submodule "home/.vim/bundle/vim-sensible"]
	path = home/.vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "home/.vim/bundle/taglist"]
	path = home/.vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter
[submodule "home/.vim/bundle/delimitMate"]
	path = home/.vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate
[submodule "home/.vim/bundle/HTML-AutoCloseTag"]
	path = home/.vim/bundle/HTML-AutoCloseTag
	url = git://github.com/vim-scripts/HTML-AutoCloseTag.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = git://github.com/ervandew/supertab
[submodule "home/.vim/bundle/base16"]
	path = home/.vim/bundle/base16
	url = git://github.com/chriskempson/base16-vim.git
[submodule "home/.vim/bundle/vim-json"]
	path = home/.vim/bundle/vim-json
	url = git://github.com/elzr/vim-json.git
